.modal-default-style {
    background-color: #1a1b17;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-top-banner {
    top: 0;
    width: 100%;
    background: #ffffff;
    min-height: 2rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: #272822;
}

.generic-pop-up .mat-dialog-container {
    padding: 0px !important;
    border-radius: 1rem !important;
    background-color: transparent !important;
}