@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'medievalsharpregular';
    src: url('./assets/fonts/MedievalSharp/medievalsharp-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/MedievalSharp/medievalsharp-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    :root {
        --primary: #b3bd8f;
        --secondary: #ad9dad; 
        --tertiary: #f0efd9; 
        --dark: #1b1111;
        --darker: #000000;
    }
}
