<div class="relative overflow-x-hidden w-[100vw] h-[100vh] font-medieval">
    <div class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[100vw] h-[100vh]">

        <div class="flex xl:flex-row flex-col">

            <div class="xl:w-[55%]">
                <app-add-character>
                </app-add-character>
            </div>

            <div class="xl:min-h-[100vh] min-h-[30vh] xl:w-[45%] w-full bg-darker p-5 text-tertiary">
                <app-generate-character-list>
                </app-generate-character-list>
            </div>

        </div>

    </div>
</div>