<div class="w-[100vw] h-[100vh] bg-dark flex justify-center align-middle text-center flex-col gap-[2rem]"> 
    <p class="text-tertiary text-[3rem] font-extrabold uppercase font-medieval select-none">
        Character Builder
    </p>

    <div class="flex flex-row gap-3 self-center">
        <app-button
            content= "Create New"
            text_styling= "text-[2rem] text-dark font-bold font-medieval"
            bg="bg-primary"
            href="./game">
        </app-button>
    
        <app-button
            content= "My Characters"
            text_styling= "text-[2rem] text-dark font-bold font-medieval"
            bg="bg-secondary"
            href="./game">
        </app-button>
    </div>
</div>
