<div class="relative overflow-hidden w-[100vw] h-[100vh]">
    <div class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[100vw] h-[100vh] bg-dark flex justify-center align-middle text-center flex-col gap-[2rem]"> 
        <p class="text-tertiary text-[3rem] font-extrabold uppercase font-medieval select-none z-10">
            Character Builder
        </p>
    
        <div class="flex flex-row gap-3 self-center z-10">
            <app-button
                content= "Start"
                text_styling= "text-[2rem] text-dark font-bold font-medieval"
                bg="bg-primary"
                href="./main">
            </app-button>
        </div>
    </div>
</div>